body{
	width: 970px;
	margin: 0px;
}
#header h1 {
	padding-left: 125px;
	font-size: 50px;
	margin: 20px 0px 0px 0px;
}
#header h2{
	background-color: #4d80a8;
	padding: 2%;
	margin: 0px;
	font-size: 30px;
	color: white;
}
#header	img{
	width: 97px;
	height: 97px;
	position: absolute;
	top: 0px;
	left: 10px;
}
.blue {
	color: #2e6c9f;
}
.red {
	color: red;
}
#main_container {
	display: flex;
	background: linear-gradient( 0deg, white, #e3e3e3 );
}
#sidebar {
	flex: 1;
	padding: 0.5%;
	display: flex;
	flex-direction: column;
}
#sidebar h3 , #sidebar h4{
	margin: 4%;
}
#sidebar form {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
	padding-bottom: 10%; 
}
#sidebar form button {
	flex: 1;
	text-align: center;
	width: 90%;
	margin: 0.5% auto;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px;
}

#main_content {
	flex: 3;
}
#watchvid {
	background: linear-gradient( 180deg, #6498c0, #2d6ba0 );
}
#moreResources {
	background: linear-gradient( 180deg, #efc289, #ed7403 );
}
#sidePic {
	background-image: url(images/ad_background.png);
	color:white;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#sidePic img {
	height: 50%;
	width: 50%;
	margin: 0px auto;
}
#sidePic button {
	margin: 10%;
	padding: 3%;
	border-radius: 5px;
	background: linear-gradient( 180deg, #75cfde, #0b9ab2 );
	color: white;
	font-size: 16px;
}
#content_header{
	display:inline-block;
	vertical-align: top;
}
#homePic {
	height: 25px;
	widths: 25px;
}
#phonePic {
	height: 70px;
	width: 70px;
	margin-right: 10px 
}
#main_content{
	display: flex;
	flex-direction: column;
}
#content_header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
#left, #right {
	flex: 1;
	display: flex;
	flex-direction: row;
}
#left h2{
	margin: 0px 10px;
	color: #487ca9;
}
#right p, #right h2 {
	margin: 0px;
	text-align: center;
}
#right h2 {
	color: #0cc2dd;
	font-size: 40px;
}
#mid_content{
	border-top: 1px solid grey; 
}
#mid_content h2 {
	color: #487ca9;
}
.lightblue {
	color: #5cbbc9;
}
#mid_content img{
	margin: 0px auto;
	width: 200px;
}