body{
	width: 970px;
	margin: 0px;
}
#header h1 {
	padding-left: 125px;
	font-size: 50px;
	margin: 20px 0px 0px 0px;
}
#header h2{
	background-color: #4d80a8;
	padding: 2%;
	margin: 0px;
}
#header	img{
	width: 97px;
	height: 97px;
	position: absolute;
	top: 0px;
	left: 10px;
}
.blue {
	color: #2e6c9f;
}
.red {
	color: red;
}
#main_container {
	display: flex;
	background: linear-gradient( 0deg, white, #e3e3e3 );
}
#sidebar {
	flex: 1;
	padding: 0.5%;
	display: flex;
	flex-direction: column;
}
#sidebar form {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
	padding-bottom: 10%; 
}
#sidebar form button {
	flex: 1;
	text-align: center;
	width: 90%;
	margin: 0.5% auto;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px;
}

#main_content {
	flex: 3;
}
#watchvid {
	background: linear-gradient( 180deg, #6498c0, #2d6ba0 );
}
#moreResources {
	background: linear-gradient( 180deg, #efc289, #ed7403 );
}
#sidePic {
	background-image: url(images/ad_background.png);
	color:white;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#sidePic img {
	height: 50%;
	width: 50%;
	margin: 0px auto;
}
#sidePic button {
	margin: 10%;
	padding: 3%;
	border-radius: 5px;
	background: linear-gradient( 180deg, #75cfde, #0b9ab2 );
	color: white;
	font-size: 16px;
}
#content_header {
	display: flex;
} 